### Merging the CitiBike data

In [3]:
# Dependencies and Setup
import pandas as pd
import glob
# Hide warning messages in notebook
import warnings
warnings.filterwarnings("ignore")

In [4]:
# File to Load
oct_19 = pd.read_csv("../Resources/201910-citibike-tripdata.csv")
nov_19 = pd.read_csv("../Resources/201911-citibike-tripdata.csv")
dec_19 = pd.read_csv("../Resources/201912-citibike-tripdata.csv")

# Print both datas inside the one window for preview
print ("Citi Bike Dataset for Oct-2019:")
display(oct_19.head(2))
print ("___________________________________________")
print ("")
print ("Citi Bike Dataset for Nov-2019:")
display(nov_19.head(2))
print ("___________________________________________")
print ("")
print ("Citi Bike Dataset for Dec-2019:")
display(dec_19.head(2))

Citi Bike Dataset for Oct-2019:

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1

___________________________________________

Citi Bike Dataset for Nov-2019:

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,273,2019-11-01 00:00:00.2930,2019-11-01 00:04:34.1880,237,E 11 St & 2 Ave,40.730473,-73.986724,335,Washington Pl & Broadway,40.729039,-73.994046,16773,Subscriber,1989,1
1,159,2019-11-01 00:00:03.5840,2019-11-01 00:02:43.4780,3572,34 Ave & 38 St,40.756913,-73.921631,3568,34 St & 35 Ave,40.756933,-73.926223,26411,Subscriber,1980,2

___________________________________________

Citi Bike Dataset for Dec-2019:

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1

In [5]:
# Merging csv files (without repeating header)
citi_bike = pd.concat([oct_19, nov_19, dec_19])
citi_bike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1

In [6]:
# Drop rows with missing values
citibike = citi_bike.dropna(subset = ["tripduration", "starttime", "stoptime", "start station id",
                                       "start station name", "start station latitude", "start station longitude", 
                                       "end station id", "end station name", "end station latitude",
                                       "end station longitude", "bikeid", "usertype", "birth year", "gender"])
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1

In [7]:
# Export file as a CSV
citibike.to_csv("../Resources/2019-citibike-oct-nov-dec.csv")